# Runtime Python portable
WinPython/
.venv/
__pycache__/
*.pyc
*.pyo



# Output généré
Output/*
!Output/.gitkeep


# Fichiers générés
*.log
pipeline.log
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea/
